[
  {
    "client_id": "diode-ingest",
    "client_secret": "{{DIODE_INGEST_CLIENT_SECRET}}",
    "scope": "diode:ingest"
  },
  {
    "client_id": "diode-to-netbox",
    "client_secret": "{{DIODE_TO_NETBOX_CLIENT_SECRET}}",
    "scope": "netbox:read netbox:write"
  },
  {
    "client_id": "netbox-to-diode",
    "client_secret": "{{NETBOX_TO_DIODE_CLIENT_SECRET}}",
    "scope": "diode:read diode:write"
  }
]
